version: "3.9"

services:
  backend:
    build: .
    container_name: document_backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis
      - minio
  db:
    image: postgres:18-alpine
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: document_backend
    ports:
      - "${DB_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:latest
    container_name: redis_server
    ports:
      - "${REDIS_PORT:-6379}:6379"

  minio:
    image: quay.io/minio/minio
    container_name: minio
    command: server /data --console-address ":9001" --address ":9000"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER:-minioadmin}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD:-minioadmin}
    ports:
      - "${MINIO_API_PORT:-9000}:9000"
      - "${MINIO_CONSOLE_PORT:-9001}:9001"
    volumes:
      - minio_data:/data

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: celery_worker
    command: celery -A app.workers.document_worker worker --loglevel=info
    env_file: .env
    depends_on:
      - redis
      - db

volumes:
  postgres_data:
  minio_data:
