name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    # This spins up real DBs in the cloud for your tests!
    services:
      postgres:
        image: postgres:15-alpine
        env:
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
          POSTGRES_DB: test_db
        ports:
          - 5432:5432
      redis:
        image: redis:alpine
        ports:
          - 6379:6379

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Poetry
      run: |
        curl -sSL https://install.python-poetry.org | python3 -
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: Install dependencies
      run: poetry install

    - name: Run Pytest
      env:
        ENV: testing
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
        GEMINI_API: ${{ secrets.GEMINI_API }}
        
        # Database & Redis (Required by Pydantic)
        DATABASE_URL: postgresql+asyncpg://user:password@localhost:5432/test_db
        DATABASE_SYNC_URL: postgresql://user:password@localhost:5432/test_db
        DB_PORT: 5432
        REDIS_URL: redis://localhost:6379/0
        REDIS_PORT: 6379
        CELERY_BROKER_URL: redis://localhost:6379/0
        CELERY_RESULT_BACKEND: redis://localhost:6379/0

        # Minio (Required by Pydantic even if not used in tests)
        MINIO_ENDPOINT: localhost:9000
        MINIO_BUCKET: test-bucket
        MINIO_ACCESS_KEY: minioadmin
        MINIO_SECRET_KEY: minioadmin
        MINIO_API_PORT: 9000
        MINIO_CONSOLE_PORT: 9001
        MINIO_SECURE: "False"

        # AI & JWT (Required by Pydantic)
        OLLAMA_MODEL: "moondream:latest"
        ACCESS_TOKEN_EXPIRE_MINUTES: 15
        REFRESH_TOKEN_EXPIRE_DAYS: 7
        JWT_ALGORITHM: "HS256"
        AI_PROVIDER: "mock"
        STORAGE_TYPE: "local"
      run: poetry run pytest
